{% extends 'base.html' %}

{% block conteudo %}

<h1>Escolha uma opção de cálculo</h1>

<div class="calculos">

    <a href="{{ url_for('operacoes') }}">
        <div class=" card card_calculo d-flex justify-content-center align-items-center ">
            <i class="icon_calculo bi bi-calculator"></i>
            <h3>Operações Aritméticas</h3>
        </div>
    </a>

    <a href="{{ url_for('geometria') }}">
        <div class=" card card_calculo d-flex justify-content-center align-items-center ">
            <i class="icon_geometria bi bi-circle"></i>
            <i class="icon_geometria bi bi-square"></i>
            <i class="icon_geometria bi bi-triangle"></i>
            <h3>Geometria</h3>
        </div>
    </a>

</div>



{% endblock %}