{% extends 'base.html' %}

{% block conteudo %}
<h1>Funcionários</h1>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Novo funcionário
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form-somar" action="{{ url_for('cadastrar_funcionario') }}" method="post">
    <label>
        Nome:
        <input placeholder="Digite o nome" name="nome" class="form-control w-100">
    </label>
    <label>
        Data Nascimento:
        <input type="date" name="data_nascimento" class="form-control w-100">
    </label>
    <label>
        CPF:
        <input placeholder="000.000.000-00" name="cpf" class="form-control">
    </label>
    <label>
        Email:
        <input placeholder="Digite o email" type="email" name="email" class="form-control w-100">
    </label>
    <label>
        Senha:
        <input placeholder="Digite a senha" type="password" name="senha" class="form-control w-100">
    </label>
    <label>
        Cargo:
        <input placeholder="Digite o cargo" name="cargo" class="form-control w-100">
    </label>
    <label>
        Salário:
        <input placeholder="Digite o salário" type="number" step="0.01" name="salario" class="form-control w-100">
    </label>

    <button type="submit" class="btn btn-info" style="margin: 20px;">Cadastrar</button>
</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Data_nascimento</th>
        <th scope="col">CPF</th>
        <th scope="col">Email</th>
        <th scope="col">Cargo</th>
        <th scope="col">Salario</th>
        <th scope="col">Ações</th> <!-- Coluna para os ícones -->
    </tr>
    </thead>
    <tbody>
    {# O loop abaixo repete a sua linha para cada funcionário no banco #}
    {% for funcionario in funcionarios %}
    <tr>
        <th scope="row">{{ funcionario.id }}</th>
        <td>{{ funcionario.nome }}</td>
        <td>{{ funcionario.data_nascimento }}</td>
        <td>{{ funcionario.cpf }}</td>
        <td>{{ funcionario.email }}</td>

        <td>{{ funcionario.cargo }}</td>
        <td>R${{ funcionario.salario }}</td>
        <td>
            <a href=""><i class="bi bi-pencil"></i></a>
            <a href=""><i class="bi bi-trash text-danger"></i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}