{% extends 'base.html' %}

{% block conteudo %}
<div class="carrosel d-flex overflow-hidden">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active bg-black" data-bs-interval="2000">
      <img src="/static/img/carrosel12.jpg" class="d-block w-100 opacity-50" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/static/img/carrosel5.jpg" class="d-block w-100 opacity-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/img/carrosel4.jpg" class="d-block w-100 opacity-50" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  <div class="w-100 h-100 position-absolute d-flex flex-column justify-content-evenly" >
        <p class="title-senai text-white display-1 text-center">Capacitação profissional na indústria</p>
        <p class="subtitle-senai text-white display-6 text-center">Confira os nossos cursos Profissionalizantes</p>
    </div>
  </div>
  <div class="cursos ">
    <div class="curso-text col-8">
      <p>Descrição</p>
    </div>
    <div class="curso-img bg-white col-4">
      <img src="/static/img/foto.jpg" class="w-100 h-100">
    </div>
  </div>





{% endblock %}